{
  "extends": "airbnb-base",
  "plugins": ["jest"],
  "env": {
    "jest/globals": true
  },
  "rules": {
    "class-methods-use-this": "off",
    "no-bitwise": "off",
    "no-continue": "off",
    "no-underscore-dangle": "off",
    "no-param-reassign": "off"
  }
}
